/* FONT FACE */
@font-face {
	font-family: "PatrickHand";
	font-style: normal;
	font-weight: 400;
	src: url(PatrickHand-Regular.ttf) format('truetype');
}

#canvas1 {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:600px;
    height:600px;

}
.controls{
    position: absolute;
    z-index:10;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}